.projects-con{
    margin-top: 117px;
}
.small-Nav-Content{
    text-decoration: none;
    color: whitesmoke;
}
.small-nav-li{
    text-decoration: none;
    color: whitesmoke;
}
.small-nav-li:focus{
    border-bottom: 2px solid #54b3d6;
}
.project-card{
    width: 21.13%;
    position: relative;
}
.card-tags-con{
    position: absolute;
    display: flex;
    gap: 40px;
    top: 75%;   
    left: 7%;
    border: 2px solid white;
    width: 100%;
}
.project-card img{
    border-radius: 24px;
}
.project-card{
    position: relative;
    height: 30vh;
}
.card-con{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    gap: 5%;
}
.card{
    width: 25%;
    height: 35vh;
    background-image: url(imgs/v.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    border-radius: 24px;
}
.card-background{   
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
}
.card-text-con{
    align-self: flex-start;
    width: 100%;
    color: white;
    /* Linear gradient fix IMPORTANNTTT! */
    background: linear-gradient(180deg, rgba(35,35,35,0.4234068627450981) 0%, rgba(17,17,17,0.5662640056022409) 100%);
    height: 10vh;
    transition: .6s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card-text-con h2{
    margin-left: 5%;
}   
.tag-con{
    /* Display Grid IMPORTANTTTT!! */
    display: flex;
    gap: 20px;
    margin-right: 5%;
    width: 30%;
}
.tag-con h5{
    border: 2px solid white;
    padding: 5px;
    width: 50%;
}
.card-heading{
    display: flex;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
}
.card-p-con{
    font-size: .8rem;
    padding-left: 10px;
    padding-right: 10px;
}

.card-p-con  , .card-btn-con{
    display: none;
}
.card-btn-con{
    justify-content: end;
}
.card-btn-con button{
    width: 20%;
    transition: .6s;
    margin-right: 7%;
    border-radius: 24px;
    outline: none;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    padding: 1px;
    font-size: 15px;
}
.card-btn-con button:hover{
    width: 30%;
    background: rgba(0, 0, 0, 0.5);
}

.card:hover .card-text-con{
    height: 25vh;
}
.card:hover .card-p-con , .card-btn-con{
    display: flex;
}

